<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cadastro de Famílias</title>
</head>
<body>
    <header>
        <img src="../static/img/sao-paulo.png" alt="Imagem Esquerda" class="logo">
        <div>
            <h1>Relatório de Estoque</h1>
            {% include 'nav.html' %}
        </div>
        <img src="../static/img/sao-pedro.png" alt="Imagem Direita" class="logo">
    </header>
    <main>
        <h1>Cadastro de Famílias</h1>
        <form action="/cadastro_familia" method="post">
            <label for="nome">Nome da Família:</label><br>
            <input type="text" id="nome" name="nome" required><br>
            <label for="responsavel">Nome do Responsável:</label><br>
            <input type="text" id="responsavel" name="responsavel" required><br>
            <label for="telefone">Telefone:</label><br>
            <input type="text" id="telefone" name="telefone" required><br>
            <label for="endereco">Endereço:</label><br>
            <input type="text" id="endereco" name="endereco" required><br>
            <button type="submit">Cadastrar</button>
        </form>
    </main>
    
</body>
</html>