<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <title>Pastoral Social - Home</title>
</head>
<body>
    <header>
        <img src="../static/img/sao-paulo.png" alt="Imagem Esquerda" class="logo">
        <div>
            <h1>Relatório de Estoque</h1>
            {% include 'nav.html' %}
        </div>
        <img src="../static/img/sao-pedro.png" alt="Imagem Direita" class="logo">
    </header>
    <main>
        <h2>Bem-vindo ao protótipo da aplicação de gestão da Pastoral Social</h2>
        <p>Use o menu acima para acessar o relatório de alimentos.</p>
    </main>
</body>
</html>
